    cursor: default;
    line-height: 1.5;
    overflow-wrap: break-word;
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    --animation-duration--shortest: .1s;
    --animation-duration--shorter: .2s;
    --animation-duration--short: .3s;
    --animation-duration--medium: .4s;
    --animation-duration--long: .5s;
    --animation-duration--longer: .6s;
    --animation-duration--longest: .7s;
    --animation-delay--shortest: .1s;
    --animation-delay--shorter: .2s;
    --animation-delay--short: .3s;
    --animation-delay--medium: .4s;
    --animation-delay--long: .5s;
    --animation-delay--longer: .6s;
    --animation-delay--longest: .7s;
    --form-margin-bottom--small: 1rem;
    --form-margin-bottom--default: 1.75rem;
    --form-element-height--default: 3.5rem;
    --font-weight-light: 200;
    --font-weight-regular: normal;
    --font-weight-bold: bold;
    --color-brand-background--vf: #e60000;
    --color-brand-background--vf-gradient: linear-gradient(148deg, rgb(230, 0, 0) 0%, rgb(204, 0, 0) 100%);
    --color-brand-background--vfz: linear-gradient(148deg, rgb(230, 0, 0) 0%, rgb(246, 162, 51) 100%);
    --color-brand-background--ziggo: #f48c00;
    --color-brand-background--ziggo-gradient: linear-gradient(148deg, rgb(246, 162, 51) 0%, rgb(232, 133, 0) 100%);
    --color-brand-icon--vf: #e60000;
    --color-brand-icon--ziggo: #f48c00;
    --color-brand-icon--vfz: linear-gradient(148deg, rgb(230, 0, 0) 0%, rgb(246, 162, 51) 100%);
    --color-brand-link-ziggo-text: #f48c00;
    --color-brand-link-ziggo-text--hover: #e88500;
    --color-brand-link-vf-text: #e60000;
    --color-brand-link-vf-text--hover: #990000;
    --color-button-vf-selfcare-background: transparant;
    --color-button-vf-selfcare-background--focus: #990000;
    --color-button-vf-selfcare-background--hover: #e60000;
    --color-button-vf-selfcare-border: #e60000;
    --color-button-vf-selfcare-border--focus: #990000;
    --color-button-vf-selfcare-border--hover: #e60000;
    --color-button-vf-selfcare-icon: #ffffff;
    --color-button-vf-selfcare-text: #e60000;
    --color-button-vf-selfcare-text--focus: #ffffff;
    --color-button-vf-selfcare-text--hover: #ffffff;
    --color-button-ziggo-selfcare-background: transparant;
    --color-button-ziggo-selfcare-background--focus: #e88500;
    --color-button-ziggo-selfcare-background--hover: #f48c00;
    --color-button-ziggo-selfcare-border: #f48c00;
    --color-button-ziggo-selfcare-border--focus: #e88500;
    --color-button-ziggo-selfcare-border--hover: #f48c00;
    --color-button-ziggo-selfcare-icon: #ffffff;
    --color-button-ziggo-selfcare-text: #f48c00;
    --color-button-ziggo-selfcare-text--focus: #ffffff;
    --color-button-ziggo-selfcare-text--hover: #ffffff;
    font-family: Verdana,Arial,sans-serif;
    --border-radius--small: .25rem;
    --border-radius--default: .5rem;
    --border-radius--large: .75rem;
    --color-background--base: #ffffff;
    --color-background--data: #f1f2f3;
    --color-background--error: #FBE6E4;
    --color-background--inverted: #2f3031;
    --color-background--support: #f1f2f3;
    --color-border--dark: #676a6c;
    --color-border--medium: #bcc1c5;
    --color-border--warning: #96008a;
    --color-border--notification: #96008a;
    --color-button-cta-background: #f48c00;
    --color-button-cta-background--focus: #e88500;
    --color-button-cta-background--hover: #e88500;
    --color-button-cta-border: #f48c00;
    --color-button-cta-border--focus: #e88500;
    --color-button-cta-border--hover: #e88500;
    --color-button-cta-text: #000000;
    --color-button-cta-text--focus: #000000;
    --color-button-cta-text--hover: #000000;
    --color-button-default-background: #2f3031;
    --color-button-default-background--focus: #4b4d4f;
    --color-button-default-background--hover: #262727;
    --color-button-default-border: #2f3031;
    --color-button-default-border--focus: #4b4d4f;
    --color-button-default-border--hover: #262727;
    --color-button-default-text: #ffffff;
    --color-button-default-text--focus: #ffffff;
    --color-button-default-text--hover: #ffffff;
    --color-button-ghost-text: #2f3031;
    --color-button-ghost-text--focus: #4b4d4f;
    --color-button-ghost-text--hover: #2f3031;
    --color-button-ghost-background: transparant;
    --color-button-ghost-background--focus: transparant;
    --color-button-ghost-background--hover: transparant;
    --color-button-ghost-border: #bcc1c5;
    --color-button-ghost-border--focus: #4b4d4f;
    --color-button-ghost-border--hover: #2f3031;
    --color-button-important-text: #ffffff;
    --color-button-important-text--focus: #ffffff;
    --color-button-important-text--hover: #ffffff;
    --color-button-important-background: #96008a;
    --color-button-important-background--focus: #66005e;
    --color-button-important-background--hover: #66005e;
    --color-button-important-border: #96008a;
    --color-button-important-border--focus: #66005e;
    --color-button-important-border--hover: #96008a;
    --color-button-vf-inverted-background: #ffffff;
    --color-button-vf-inverted-background--focus: #ffffff;
    --color-button-vf-inverted-background--hover: #ffffff;
    --color-button-vf-inverted-border: #ffffff;
    --color-button-vf-inverted-border--focus: #ffffff;
    --color-button-vf-inverted-border--hover: #ffffff;
    --color-button-vf-inverted-text: #e60000;
    --color-button-vf-inverted-text--focus: #990000;
    --color-button-vf-inverted-text--hover: #990000;
    --color-button-ziggo-inverted-background: #ffffff;
    --color-button-ziggo-inverted-background--focus: #ffffff;
    --color-button-ziggo-inverted-background--hover: #ffffff;
    --color-button-ziggo-inverted-border: #ffffff;
    --color-button-ziggo-inverted-border--focus: #ffffff;
    --color-button-ziggo-inverted-border--hover: #ffffff;
    --color-button-ziggo-inverted-text: #f48c00;
    --color-button-ziggo-inverted-text--focus: #e88500;
    --color-button-ziggo-inverted-text--hover: #e88500;
    --color-button-background--disabled: #d7dadc;
    --color-button-border--disabled: #bcc1c5;
    --color-button-text--disabled: #a0a4a8;
    --color-font-brand: #f48c00;
    --color-font-cta: #f48c00;
    --color-font-cta--hover: #e88500;
    --color-font-default: #262727;
    --color-font-error: #d52b1e;
    --color-font-error--hover: #8F1D14;
    --color-font-inverted: #ffffff;
    --color-font-light: #83878a;
    --color-font-notification: #96008a;
    --color-font-title: #262727;
    --color-font-warning: #96008a;
    --color-font-warning--hover: #66005e;
    --color-font-hint: #0088A3;
    --color-form-background: transparant;
    --color-form-background--disabled: #f1f2f3;
    --color-form-border: #a0a4a8;
    --color-form-focus: #0088A3;
    --color-form-invalid: #d52b1e;
    --color-form-label: #676a6c;
    --color-form-label--disabled: #a0a4a8;
    --color-form-placeholder: #a0a4a8;
    --color-form-placeholder--disabled: #a0a4a8;
    --color-form-checked: #0088A3;
    --color-form-valid: #5daa1a;
    --color-form-value: #262727;
    --color-form-value--hover: #f48c00;
    --color-form-value--disabled: #a0a4a8;
    --color-form--options-border: #d7dadc;
    --color-form--options-background: #ffffff;
    --color-link--cta: #f48c00;
    --color-link--cta--hover: #e88500;
    --color-link--default: var(--color-font-default);
    --color-overlay--default: rgba(0, 0, 0, .4);
    --color-icon-default: #2f3031;
    --color-icon-cta: #f48c00;
    --color-icon-cta--hover: #e88500;
    --color-icon-danger: #d52b1e;
    --color-icon-inverted: #ffffff;
    --color-shadow--default: rgba(0, 0, 0, .2);
    --color-table-header-background--default: #d7dadc;
    --color-table-subheader-background--default: #f1f2f3;
    --color-password-strength--none: #f1f2f3;
    --color-password-strength--insuffencient: #d52b1e;
    --color-password-strength--weak: #f48c00;
    --color-password-strength--decent: #e6e55a;
    --color-password-strength--strong: #5daa1a;
    --font-size--extra-large: 1.25rem;
    --font-size--large: 1.125rem;
    --font-size--medium: 1rem;
    --font-size--default: .875rem;
    --font-size--small: .875rem;
    --font-size--extra-small: .75rem;
    --line-height--extra-large: 1.75rem;
    --line-height--large: 1.5rem;
    --line-height--default: 1.3125rem;
    box-sizing: border-box;
    background: var(--color-background--base);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    --app-login--column-padding: 2rem 2rem 3.5rem 2rem;